/* *{
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    height: 100%;
}
.model{
    width: 500px;
}
#newton-modal{
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 400px;
}
#open-model{
    visibility: visible;
}
.modal-dialog{
    vertical-align: center;
    align-items: center;
    } */